@import url(https://fonts.googleapis.com/css?family=Noto+Sans);@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);.app__app___1MFSU {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.reader__reader___2zFp8 {
  display: flex;
}
.furigana_toggler__furiganaToggler___3HTtV {
  padding: 1rem;
  width: 100%;
  background-color: inherit;
  font: inherit;
  color: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(200, 200, 200);
  text-align: left;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.furigana_toggler__furiganaToggler___3HTtV:hover {
  background-color: rgb(247, 247, 247);
}
.info_header__infoHeader___2eh49 {
  padding: 1rem;
  border-bottom: 1px solid rgb(200, 200, 200);
  text-align: right;
}

.info_header__header___37JnH {
  font-weight: 200;
}

.info_header__subJp___1Bjlq {
  font-size: 0.6em;
  margin-left: 0.4rem;
}

.info_header__pageTitle___RbCpa {
  margin-top: 1rem;
}
.tell_people_button__button___zzdyi {
  font: inherit;
  color: inherit;
  margin-top: 1rem;
  position: relative;
  top: -0.2rem;
  outline: none;
  background-color: inherit;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding: 0.25rem 0.35rem;
  cursor: pointer;
  transition: background-color 0.1s linear;
}
.tell_people_button__button___zzdyi:hover {
  background-color: rgb(247, 247, 247);
}
.vanity_footer__vanityFooter___3i2lx {
  width: 100%;
  padding: 1rem;
  text-align: right;
  font-weight: 300;
  font-size: 0.8rem;
}

.vanity_footer__link___eTQWb {
  color: inherit;
  font-weight: 500;
}
.vocab_segment__vocabSegment___2miLR {
  padding: 1rem;
}

.vocab_segment__jpCommon___2G2Aj {
  font-weight: 500;
}

.vocab_segment__jpKana___1DZBU {
  font-size: 1.1em;
}

.vocab_segment__translation___3AJRt {
  margin-top: 0.5rem;
  font-weight: 200;
  font-size: 1.2em;
}

.vocab_segment__vocabList___3iR2a {
  padding: 0;
  padding-left: 1rem;
}

.vocab_segment__vocabElement___3zUZL {
  list-style-type: none;
}

.vocab_segment__vocabElementKanji___3ijec, .vocab_segment__vocabElementJpCommon___1UZai {
  font-weight: 300;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.vocab_segment__vocabElementReading___2eh0I, .vocab_segment__vocabElementJpKana___dMvm3 {
  font-weight: 200;
  font-size: 1rem;
}
.vocab_segment__vocabElementMeaning___1rlqw {
  font-weight: 200;
  font-size: 1rem;
  margin-left: 0.4rem;
}

.vocab_segment__notesTitle___3brql {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.vocab_segment__notes___XV9E2 {
  padding: 0;
}
.vocab_segment__note___pBOIK {
  margin-bottom: 0.5rem;
  list-style-type: none;
}
.info_box__infoBox___3u9nh {
  flex: 1;
  font-family: 'Noto Sans Japanese', 'Noto Sans', sans-serif;
  font-weight: 200;
}
.furigana_blocker__furiganaBlocker___2jZda {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s linear;
  border-radius: 3px;
}
.furigana_blocker__hidden___k49t8 {
  opacity: 1;
}
.vocab_segment_selector__vocabSegmentSelector___1s8Zz {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  opacity: 0;
  transition: opacity 0.1s linear;
  cursor: pointer;
  border-radius: 3px;
}
.vocab_segment_selector__vocabSegmentSelector___1s8Zz:hover:not(.vocab_segment_selector__selected___1nOJm) {
  opacity: 0.4;
}
.vocab_segment_selector__selected___1nOJm {
  opacity: 1;
}
.page_scan__pageScan___1eWuU {
  flex: 1;
  border-right: 1px solid rgb(200, 200, 200);
}
.page_scan__sizeWrapper___1Zh7O {
  position: relative;
}
.page_scan__image___dNoWn {
  width: 100%;
}
.tell_people_overlay__overlay___2czdB {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  font-family: 'Noto Sans Japanese', 'Noto Sans', sans-serif;
  font-weight: 200;
}

.tell_people_overlay__content___2jTuf {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
}

.tell_people_overlay__header___1TKqB {
  padding: 1rem;
  font-size: 1em;
  font-weight: 300;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.tell_people_overlay__text___igx43 {
  padding: 1rem;
  font-size: 0.8em;
}

.tell_people_overlay__twitterButton___QkQZt {
  font: inherit;
  font-weight: 300;
  color: white;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
  top: -0.2rem;
  outline: none;
  background-color: #55acee;
  border-radius: 7px;
  min-width: 9rem;
  padding: 0.45rem;
  cursor: pointer;
  transition: background-color 0.1s linear;
  text-decoration: none;
}
.chapter_view__chapter___y-j7y {
  margin-top: 1rem;
}

.chapter_view__header___2Nyz_ {
  font-weight: 300;
}
.chapter_view__subJp___2LhZA {
  font-size: 0.65em;
  margin-left: 0.4rem;
}
.series_browser__browser___1IuwE {
  font-family: 'Noto Sans Japanese', 'Noto Sans', sans-serif;
  font-weight: 200;
  padding: 2rem;
}

.series_browser__header___xDoaV {
  font-weight: 300;
}
.series_browser__subJp___7ycXH {
  font-size: 0.65em;
  margin-left: 0.4rem;
}
