.chapter {
  margin-top: 1rem;
}

.header {
  font-weight: 300;
  margin-bottom: 1rem;
}
.subJp {
  font-size: 0.65em;
  margin-left: 0.4rem;
}

.pageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
