.furiganaToggler {
  padding: 1rem;
  width: 100%;
  background-color: inherit;
  font: inherit;
  color: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(200, 200, 200);
  text-align: left;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.furiganaToggler:hover {
  background-color: rgb(247, 247, 247);
}
