.infoHeader {
  padding: 1rem;
  border-bottom: 1px solid rgb(200, 200, 200);
  text-align: right;
}

.header {
  font-weight: 200;
}

.subJp {
  font-size: 0.6em;
  margin-left: 0.4rem;
}

.pageTitle {
  margin-top: 1rem;
  font-size: 1.4em;
}

.link {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.paginationButton {
  font-size: 0.55em;
  color: inherit;
  text-decoration: none;
  margin-top: 1rem;
  position: relative;
  top: -0.2rem;
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding: 0.15rem 0.35rem;
  cursor: pointer;
  transition: background-color 0.1s linear;
}
.paginationButton:hover {
  background-color: rgb(247, 247, 247);
}

.previousButton {
  margin-right: 0.75rem;
}
.nextButton {
  margin-left: 0.75rem;
}
