.infoHeader {
  padding: 1rem;
  border-bottom: 1px solid rgb(200, 200, 200);
  text-align: right;
}

.header {
  font-weight: 200;
}

.subJp {
  font-size: 0.6em;
  margin-left: 0.4rem;
}

.pageTitle {
  margin-top: 1rem;
}
