.pageThumbnail {
  display: inline-block;
  margin: 0.2rem;
  position: relative;
  top: 0;
  transition: top 0.1s linear;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
  flex-basis: 202px;
}
.pageThumbnail:hover {
  top: 0.4rem;
}

.image {
  display: block;
  /* B5 aspect ratio */
  height: 284px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.label {
  display: block;
  width: 100%;
  border-top: 1px solid rgb(200, 200, 200);
  font-size: 0.9em;
  text-align: right;
  padding: 0.4rem 0.6rem;
}
