.button {
  font: inherit;
  color: inherit;
  margin-top: 1rem;
  position: relative;
  top: -0.2rem;
  outline: none;
  background-color: inherit;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding: 0.25rem 0.35rem;
  cursor: pointer;
  transition: background-color 0.1s linear;
}
.button:hover {
  background-color: rgb(247, 247, 247);
}
